/* styles.css */

/* Global Styles */
html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

/* Footer Styles */
footer {
  background-color: #000000;
  padding: 16px;
  text-align: center;
}

/* Overlay Styles */
.w3-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
