/* styles.css */

/* Global Styles */
html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("Зображення/Фон.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Navbar Styles */
.w3-top .w3-bar {
  background-color: #f1f1f1;
  color: #000;
}

.w3-bar-item {
  padding: 8px 16px;
}

.w3-bar-item:hover {
  background-color: #ddd;
}

.w3-bar-item:hover:not(.w3-button) {
  color: #000;
}

.w3-bar-item.w3-button {
  text-decoration: none;
}

/* Sidebar Styles */

/* Main Content Styles */
.w3-main {
  margin-left: 250px;
}

.w3-padding-64 {
  padding: 64px;
}

.w3-padding-32 {
  padding: 32px;
}

.w3-padding-large {
  padding: 48px;
}

.w3-text-teal {
  color: #008080;
}

/* Pagination Styles */

/* Footer Styles */
footer {
  background-color: #f1f1f1;
  padding: 16px;
  text-align: center;
}

/* Overlay Styles */
.w3-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
