/* styles.css */

/* Global Styles */
html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

.w3-dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.w3-dropdown:hover .w3-dropdown-content {
  display: block;
}

/* Footer Styles */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  color: #333;
  text-align: center;
  padding: 20px;
}
footer {
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.3); /* RGBA кольор з прозорістю 0.7 */
}
/* Overlay Styles */
.w3-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
